h1,h6{
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

iframe{
    width: 100%;
}

.specialimage{
    /* width: 50px; */
    height: 30px;
    position: relative;
    top: -1%;
    float: left;
    /* left: -5px; */
}

.z{
    font-weight: bold;
}