{% extends "base_generic.html" %}
{% load static %}
{% block font %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />{% endblock %}
{% block title %}{{category.professor.user.username}}{% endblock %}

{% block full-content %}
<br>
{% if category.to_crawl %}
{{category.crawl_category}}
{% endif %}
<div class="row">
    <div class="col-3">
        <br><br>
            <div class="text-center">
        <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="{{category.professor.photo.url}}" alt="Card image cap">
                    <div class="card-body">
                            <div class="text-center"><h1>{{category.professor.user.first_name}} {{category.professor.user.last_name}}</h1></div><br>
                            <p class="card-text"><span class="z">{{category.professor.post}}</span></p>
                            <p class="card-text"><span class="z">Webmail</span>: {{category.professor.mail}}</p>
                            <p class="card-text"><span class="z">Department</span>: {{category.professor.department.name}}</p>
                    </div>
                    {% if category.professor.user.id == user.id %}
                    <a class="btn btn-dark" href="{% url 'professor_update' category.professor.id %}">Edit
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>{% endif %}
            </div>
    </div>
    </div>
    <div class="col-8">

            <br>
            <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ category.professor.get_absolute_url }}">About</a>
                    </li>
                    {% for cat in category.professor.category_set.all %}
                        {% if cat.id == category.id %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ cat.get_absolute_url }}">{{cat.name}}</a>
                        </li>
                        <br>
                        
                        {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ cat.get_absolute_url }}">{{cat.name}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if category.professor.user.id == user.id %}
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'category_create' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                        </li>
                        {% endif %}
                  </ul>
                  
              <div class="card">
                  <div class="card-body">
                      <div class="container">
                          <ul><hr>
                          {% for x in category.categorylist_set.all %}
                          {% if x.approved or x.category.professor.user.id == user.id %}
                          <li>{{x.data}}
                              {% if x.category.professor.user.id == user.id %}
                              {% if not x.approved %}
                              <a href="{% url 'approve' x.id category.id %}"><i class="fa fa-check w" aria-hidden="true"></i></a>
                              {% endif %}
                                <a href="{% url 'categorylist_update' x.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="{% url 'categorylist_delete' x.id %}"><i class="fa fa-trash y" aria-hidden="true"></i></a>
                                
                                
                                {% endif %}
                            </li>
                            <hr>
                            {% endif %}
                                
                          {% endfor %}
                        </ul>
                        <div class="text-center">
                        {% if category.professor.user.id == user.id %}
                        <a class="btn btn-dark" href="{% url 'categorylist_create' category.id %}">Add {{category.name}}
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        {% if category.professor.user.id == user.id %}
                        <a class="btn btn-dark" href="{% url 'category_update' category.id %}">Change Search Keyword
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                            {% if category.professor.user.id == user.id %}
                            <a class="btn btn-danger" href="{% url 'category_delete' category.id %}">Delete this Category
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                        </div>
                      </div>
                  </div>
              </div>
    

        </div>
      </div>
    </div>
</div>

{% endblock %} 
 