{% extends "base_generic.html" %}
{% load static %}
{% block font %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />{% endblock %}
{% block title %}{{professor.user.username}}{% endblock %}

{% block full-content %}
{% if professor.user.id == user.id %}
{{professor.crawl_prof}}
{% endif %}
<br>
<div class="row">
    <div class="col-3">
        <br><br>
            <div class="text-center">
        <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="{{professor.photo.url}}" alt="Card image cap">
                    <div class="card-body">
                        <div class="text-center"><h1>{{professor.user.first_name}} {{professor.user.last_name}}</h1></div><br>
                        <p class="card-text"><span class="z">{{professor.post}}</span></p>
                            <p class="card-text"><span class="z">Webmail</span>: {{professor.mail}}</p>
                            <p class="card-text"><span class="z">Department</span>: {{professor.department.name}}</p>
                    </div>{% if professor.user.id == user.id %}
                    <a class="btn btn-dark" href="{% url 'professor_update' professor.id %}">Edit
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        {% if professor.temp_post %}
                        <div class="alert alert-primary" role="alert">
                            Have you been recently promoted to {{professor.temp_post}}?
                            <a href="{% url 'post_approve' professor.id %}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a href="{% url 'post_delete' professor.id %}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>                            
                        </div>
                          {% endif %}
                          {% endif %}
            </div>
    </div>
    </div>
    <div class="col-8">

            <br>
            <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="{{professor.get_absolute_url}}">About
                      </a>
                    </li>
                    {% for cat in professor.category_set.all %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ cat.get_absolute_url }}">{{cat.name}}</a>
                    </li>
                    {% endfor %}
                    {% if professor.user.id == user.id %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_create' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                    </li>
                    {% endif %}
            </ul>
            <div class="card">
                <div class="card-body">
                    <div class="container">
                            <div class="text-center"><h4 class="card-title">Basic details</h4></div><hr>
                               
                                <div class="row text-center">
                                  
                                  <div class="col-4">
                                    <h5>Contact</h5><hr>
                                    <span class="z">Mobile Number</span>:  {{professor.phone_home}}
                                    
                                  </div>
                                  <div class="col-4">
                                      <h5>Office</h5><hr>
                                      <span class="z" >Room Number</span>: {{professor.room_no}}<br>
                                      <span class="z">Landline</span> {{professor.phone_office}}
                                    </div>
                                    <div class="col-4">
                                        <h5>Residence</h5><hr>
                                        <span class="z">Qtr Number</span>: {{professor.qtr_no}}<br>
                                        <span class="z">Phone</span> {{professor.phone_home}}
                                      </div>
                                </div>
                            </div><br><hr>
                    <div class="container">
                        <div class="text-center"><h4 class="card-title">Education</h4></div><hr>
                        <div class="text-center">
{% comment %}                             
                                {% for e in professor.education_set.all %}
                                  <div class="z">{{e.degree}}</div>
                                  {{e.description}}
                                  {% if professor.user.id == user.id %}
                                  <a class="btn btn-dark" href="{% url 'education_delete' e.id%}">
                                        <i class="fa fa-trash" aria-hidden="true">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                {% endif %}

                                  <br><br>
                                {% endfor %} {% endcomment %}
                                {% for e in professor.education_set.all %}
                                <div class="z"> {{e.degree}}</div>
                                    {{e.description}}
                                    {% if e.professor.user.id == user.id %}
                                      {% comment %} <a href="{% url 'categorylist_update' x.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a> {% endcomment %}
                                      <a href="{% url 'education_delete' e.id %}"><i class="fa fa-trash y" aria-hidden="true"></i></a>
                                      {% endif %}
                                  <br><br>
                                  
                                {% endfor %}
                                {% if professor.user.id == user.id %}
                                <a class="btn btn-dark" href="{% url 'education_create' %}">Add Education
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a>
                                
                                {% endif %}
                            
                            
                        </div><br>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="text-center"><h4 class="card-title">Work Experience</h4></div><hr>
                        <div class="text-center">
                            
                                {% for w in professor.work_set.all %}
                                <div class="z"> {{w.post}}</div>
                                    {{w.description}}
                                    {% if w.professor.user.id == user.id %}
                                      {% comment %} <a href="{% url 'categorylist_update' x.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a> {% endcomment %}
                                      <a href="{% url 'work_delete' w.id %}"><i class="fa fa-trash y" aria-hidden="true"></i></a>
                                      {% endif %}
                                  <br><br>
                                  
                                {% endfor %}
                                {% if professor.user.id == user.id %}
                                <a class="btn btn-dark" href="{% url 'work_create' %}">Add Work <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        
                                    {% comment %} <i class="fa fa-pencil" aria-hidden="true"></i> {% endcomment %}
                                </a>
                                
                                {% endif %}
                            
                            
                        </div><br>
                    </div>
                    
                        
            
        </div>
      </div>
    </div>
</div>

{% endblock %} 
 