{% extends "base_generic.html" %}
{% load static %}
{% block font %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />{% endblock %}
{% block title %}Search Results{% endblock %}

{% block content %}
<br>
<div class="text-center"><h1>Search Results</h1></div><hr><br>
<div class="row">    
{% for professor in professor_list %}
        <div class="col-4">
            <div class="card card-css" style="width: 20rem;">
                <div class="xyz">
                        <a href="{{professor.get_absolute_url}}"><img class="card-img-top" src="{{professor.photo.url}}" alt="{{professor.user.username}} Profile Pic"></a>
                </div>
                <div class="card-body abc text-center">
                <h4 class="card-title">{{professor.user.firstname}} {{professor.user.lastname}}</h4>
                <p class="card-text">Webmail: {{professor.mail}}</p>
                <p class="card-text">Department: {{professor.department.name}}</p>
                <a href="{{professor.get_absolute_url}}" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        </div>
    
        {% empty %}
    </div>   
        <div class="text-center"><h4>No Results</h4></div>
{% endfor %}
</div>
{% endblock %}