{% extends "base_generic.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br>
<div class="card">
  <div class="card-header"><br>
    <h1 class="text-center">Login</h1>
  </div>
  <div class="card-body">
    <form action="" method="post">
            {% csrf_token %}
          <div class="form-group text-center">
          <table>
          {{ form.as_p }}
          </table><div class="text-center">
          <input type="submit" value="Submit" class="btn btn-dark"/></div>
          </div>
      </form>
  </div>
</div> 
{% endblock %}